body {
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  background-color: #f2f4f4;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-picture {
  padding: 15px;
}

.logo-picture img {
  width: 200px;
}

.btn-back {
  position: absolute;
  left: 20px;
  background-color: white;
  border: none;
  font-size: 25px;
  color: #9356dc;
}

.background-picture {
  width: 100%;
  height: 300px;
}
.background-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  position: relative;
  top: -55px;
  border-radius: 2rem 2rem 0 0;
  background-color: #f2f4f4;
  padding: 15px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title h1 {
  font-size: 25px;
  font-family: "Shrikhand", sans-serif;
}

.heart {
  display: flex;
  font-size: 30px;
}
.heart .fa-regular {
  position: relative;
}
.heart .fa-solid {
  position: absolute;
  opacity: 0;
}
.heart .fa-solid:hover {
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: fill 2.5s forwards;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.order .btn-order {
  height: 42px;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: rgb(175, 165, 165) 0px 2px 3px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0 40px;
}
.order .btn-order:hover {
  filter: brightness(1.1);
  box-shadow: rgb(175, 165, 165) 0px 6px 10px;
}

.starter,
.dishes,
.dessert {
  display: flex;
  flex-direction: column;
}
.starter .plate,
.dishes .plate,
.dessert .plate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 10px;
}
.starter .plate:hover > .selection,
.dishes .plate:hover > .selection,
.dessert .plate:hover > .selection {
  opacity: 1;
  transform: translateX(-70px);
}
.starter .plate:hover > .selection .fa-check,
.dishes .plate:hover > .selection .fa-check,
.dessert .plate:hover > .selection .fa-check {
  transform: rotate(360deg);
}
.starter .plate:hover > .price,
.dishes .plate:hover > .price,
.dessert .plate:hover > .price {
  transform: translateX(-60px);
}
.starter .plate:hover > .food,
.dishes .plate:hover > .food,
.dessert .plate:hover > .food {
  transition: width 1s;
  width: 60%;
}
.starter .plate .food,
.dishes .plate .food,
.dessert .plate .food {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-left: 15px;
  transition: all 1.2s;
}
.starter .plate .food h3,
.starter .plate .food p,
.dishes .plate .food h3,
.dishes .plate .food p,
.dessert .plate .food h3,
.dessert .plate .food p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 100%;
}
.starter .plate .price,
.dishes .plate .price,
.dessert .plate .price {
  align-self: end;
  margin-right: 15px;
  font-weight: bold;
  transition: all 1.2s;
}
.starter .plate .price p,
.dishes .plate .price p,
.dessert .plate .price p {
  margin-bottom: 13px;
}
.starter .selection,
.dishes .selection,
.dessert .selection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -70px;
  width: 70px;
  height: 75px;
  background-color: #99e2d0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 1.2s;
}
.starter .fa-check,
.dishes .fa-check,
.dessert .fa-check {
  font-size: 20px;
  background-color: white;
  border-radius: 50%;
  color: #99e2d0;
  padding: 3px;
  transition: all 1.2s;
}

.starter .plate {
  opacity: 0;
  transform: translateY(30px);
}
.starter .plate:nth-child(2) {
  animation: apparition 1s 0.4s ease-out forwards;
}
.starter .plate:nth-child(3) {
  animation: apparition 1s 0.6s ease-out forwards;
}
.starter .plate:nth-child(4) {
  animation: apparition 1s 0.8s ease-out forwards;
}
.starter .plate:nth-child(5) {
  animation: apparition 1s 1s ease-out forwards;
}

.dishes .plate {
  opacity: 0;
  transform: translateY(30px);
}
.dishes .plate:nth-child(2) {
  animation: apparition 1s 1.2s ease-out forwards;
}
.dishes .plate:nth-child(3) {
  animation: apparition 1s 1.4s ease-out forwards;
}
.dishes .plate:nth-child(4) {
  animation: apparition 1s 1.6s ease-out forwards;
}

.dessert .plate {
  opacity: 0;
  transform: translateY(30px);
}
.dessert .plate:nth-child(2) {
  animation: apparition 1s 2s ease-out forwards;
}
.dessert .plate:nth-child(3) {
  animation: apparition 1s 2.2s ease-out forwards;
}
.dessert .plate:nth-child(4) {
  animation: apparition 1s 2.4s ease-out forwards;
}

.name {
  height: 70px;
}
.name p {
  font-size: 18px;
  width: 50px;
  height: 50px;
  position: relative;
}
.name p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px;
  height: 1px;
  width: 100%;
  border-bottom: 4px solid #99e2d0;
  margin: 0;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
  background-color: #3d3939;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "roboto", sans-serif;
  padding: 0;
}
footer ul li {
  display: flex;
  height: 25px;
  gap: 5px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul .icon {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  header {
    background-color: white;
  }
  .title {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .menu {
    margin: auto;
    width: 80%;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 1px 1px 10px -1px #e0e0e0;
  }
  .menu .name p {
    width: 100%;
  }
  .menu .starter-dishes-dessert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
  }
  .menu .starter-dishes-dessert .starter, .menu .starter-dishes-dessert .dishes, .menu .starter-dishes-dessert .dessert {
    align-items: center;
    width: 30%;
    flex: 1 1 350px;
  }
  .menu .plate {
    border: 1px solid #99e2d0;
    width: 100%;
    max-width: 370px;
  }
  footer {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    height: 100px;
    font-size: 18px;
    margin-top: 80px;
  }
  footer ul {
    flex-direction: row;
    gap: 40px;
  }
  footer ul li {
    align-items: center;
  }
}

/*# sourceMappingURL=menu.css.map */
