body {
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

.logo-picture {
  display: flex;
  justify-content: center;
  padding: 15px;
}

  img {
    width: 200px;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 50px;
  background-color: #e7e7e7;
  box-shadow: 0 -5px 6px -5px gray;
  font-size: 18px;
  font-weight: bold;
}

  p {
    color: #555555;
  }
}

.map-icon i {
  font-size: 18px;
}

.topic {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-color: #f2f4f4;

  h1 {
    margin: auto;
    text-align: center;
}

.topic h1{

    font-size: 25px;
  }

  p {
    @extend h1;
    font-size: 18px;
    color: #555555;
  }
}

.btn-discover {
  margin-top: 25px;
  height: 42px;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: #9356dc 0px 2px 3px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0 25px;
    
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: white;
  height: 100vh;
  animation: disappear 0s forwards;
  animation-delay: 3s;
    
}

.loading-spinner {
  border-bottom: 2px solid #9356dc;
  border-left: 2px solid #9356dc;
  border-top: 2px solid #ff79da;
  border-right: 2px solid #ff79da;
  border-radius: 50%;
  background: linear-gradient(#ff79da, #9356dc);
  width: 100px;
  height: 100px;
  animation: spin 3s linear infinite;
    
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.functionning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

ul {
  display: flex;
  flex-direction: column;
    justify-content: center;
  align-items: center;
  list-style: decimal;
  gap: 25px;
  margin: 0;
  padding: 0;
  color: black;
}

.hovering {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  left: 12px;
  width: 100%;
  height: 65px;
  border-radius: 20px;
  background-color: #f2f4f4;
  box-shadow: #e7e7e7 0px 2px 3px;
  text-decoration: none;
  color: black;

  &:hover {
    background-color: #f5eaf9;

    i {
      color: #9356dc;
    }
  }
}

li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.fa-solid {
  font-size: 20px;
  color: gray;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -12px;
  background-color: #9356dc;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.restaurant {
  padding: 25px 15px;
  margin-top: 50px;
  background-color: #f2f4f4;


  h2{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h3,p{

    margin: 0;
  }
}


.thumbnail-restaurant {
  min-width: 200px;
  min-height: 210px;
  width: 100%;
  height: 190px;
  background-color: white;
  box-shadow: 2px 2px 5px #d7d7d7;
  border-radius: 20px;
  overflow: hidden;
}

.restaurant-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  column-gap: 35px;
 
}

.thumbnail-restaurant .picture {
  width: 100%;
  height: 70%;
  
}

.thumbnail-restaurant .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




